<ion-view view-title="Forgot Password">
    <ion-content class="padding has-header">
        <div>
            <form ng-submit="login.requestResetPassword()">
                <div class="list has-header padding">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Your email or username" ng-model="login.userName">
                    </label>

                </div>
                <br></br>

                <div class="padding">
                    <button class="button button-block button-dark" type="submit">
                        Submit
                    </button>
                    
                </div>
            </form>
        </div>
    </ion-content>

    
    
    
    
</ion-view>