<ion-view view-title="Forgot Password">
    <ion-content class="padding has-header">
        <div>
            <form ng-submit="login.resetPassword()">
                <div class="list has-header padding">

                    <label class="item item-input">
                        <input id="text" name="text" type="text" placeholder="Your token" ng-model="login.resetToken">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your new password" ng-model="login.newPassword">
                    </label>
                </div>
                <br></br>

                <div class="padding">
                    <button class="button button-block button-dark" type="submit">
                        Submit
                    </button>
                    
                </div>
            </form>
        </div>
    </ion-content>

    
    
    
    
</ion-view>