<!--
<ion-view view-title="Survey">
     <ion-content class="padding has-header">
        <div class="bar bar-header">
            <span><button class="button button-positive">Refresh</button></span>
            <span><i class='icon ion-plus-round new-item'> Add Item</i></span>
        </div>
        <div class="bar bar-subheader">
            <div class="list card">
                <div class="item item-icon-right item-icon-left">
                    <i class="ion-compose icon"></i>
                    <h2 class="text-center"></h2>
                    <i class="icon ion-close-round"></i>
                </div>
                <div class="item item-body">
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>
-->

<!--
<ion-header-bar class="bar-positive">
  <div class="buttons">
    <h1 class="title">Ionic List</h1>
  </div>
</ion-header-bar>
<ion-content class="padding has-header" = ng-controller="SurveyCtrl">
 <ion-list>
  <ion-item>
   Body Weight
  </ion-item>
  <ion-item>
   Hours of sleep
  </ion-item>
  <ion-item>
   Stress level
  </ion-item>
 </ion-list>
</ion-content>
-->

<!--
<ion-view view-title="Survey">
  <div class="buttons">
    <h1 class="title">Ionic List</h1>
  </div>
  
  <ion-content ng-controller="SurveyCtrl">

 <ion-list>
  <ion-item>
   Body Weight
  </ion-item>
  <ion-item>
   Hours of Sleep
  </ion-item>
  <ion-item>
   Stress level
  </ion-item>
 </ion-list>
</ion-content>
</ion-view>

-->



<ion-view view-title="Survey">
    <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
            <!-- LIST -->
            <div class="bar bar-header">
                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item'> Take Survey</i></span>
            </div>
            <div class="bar bar-subheader">
                <div class="list card" ng-repeat="object in vm.data"
                     ng-class="{'active':vm.isCurrent(object.id)}">
                    <div class="item item-icon-right item-icon-left">
                        <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>
                        <h2 class="text-center">{{object.hoursSleep}}</h2>
                        <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
                    </div>
                    <div class="item item-body">
                        {{object.bodyWeight}}
                        {{object.hoursSleep}}
                        {{object.stressLevel}}
                        {{object.minsPlayed}}
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isCreating">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            
            <div>
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Body Weight</span>
                            <input type="number" class="form-control"
                                   ng-model="vm.newObject.bodyWeight"
                                   placeholder="Enter Weight (lbs.)">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Hours Slept</span>
                            <input type="number" class="form-control"
                                  ng-model="vm.newObject.hoursSleep"
                                  placeholder="Enter Number of Hours Slept" min="1" max="12"></textarea>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Stress Level</span>
                            <input id="slider1" type="range" class="form-control"
                                  ng-model="vm.newObject.stressLevel"
                                  placeholder="Enter Stress Level (1-10)" min="1" max="10"></textarea>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Minutes Played</span>
                            <input type="text" class="form-control"
                                  ng-model="vm.newObject.minsPlayed"
                                  placeholder="Enter Number of Minutes Played Last 48 hrs"></textarea>
                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Create</button>
                </form>
            </div>
        </ion-content>
    </div>
    
<!--
    <div ng-if="vm.isEditing && !vm.isCreating">
        <ion-content class="padding has-header">
            
            <div class="bar bar-header bar-secondary">
                <h1 class="title">Editing {{vm.edited.name}}</h1>
                <span ng-click="vm.cancelEditing()" class="cancel-create">Cancel</span>
            </div>
            <div class="bar bar-subheader">
                <form class="edit-form" role="form"
                      ng-submit="vm.update(vm.edited)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.name"
                                   placeholder="Enter name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                    <textarea class="form-control"
                              ng-model="vm.edited.description"
                              placeholder="Enter description"></textarea>

                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Save</button>
                </form>
            </div>
        </ion-content>
    </div>
-->

</ion-view>
