<ion-view view-title="Workouts">
  <ion-content>
  <!--  <div class="bar bar-header item-input-inset">-->
  <!--    <label class="item-input-wrapper">-->
  <!--      <i class="icon ion-ios-search placeholder-icon"></i>-->
  <!--      <input type="search" placeholder="Search">-->
  <!--    </label>-->
  <!--    <button class="button button-clear">-->
  <!--      Cancel-->
  <!--     </button>-->
  <!--</div>-->
  
  
  
  <div>
    <div ng-controller="WorkoutCtrl as wo">
      <div ng-if="!wo.isCreating && !wo.isEditing">
        <!--<form ng-submit="submitForm(sport)">-->
          <!--<ion-list>-->
          <!--  <ion-item -->
          
          <div class="list list-inset">
            <div class="item item-button-right" ng-repeat="workout in wo.workouts | orderBy: 'name'"  ng-model="workout.name" ng-click="submitForm(workout)">
              {{ workout.name }}
            </div>
          </div>
          <!--  </ionitem> -->
          <!--</ion-list>-->
        <!--</form>  -->
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>

<!--changed div ng-if to div ng-show-->