<ion-view view-title="Account Information for {{vm.fullName}}">
    <ion-content class="padding has-header">
        
        <div>
                <div class="list has-header padding">

                    <a class="item">
                      <strong>First Name: </strong>{{vm.firstName}}
                    </a>
                    <a class="item">
                      <strong>Last Name: </strong>{{vm.lastName}}
                    </a>
                    <a class="item">
                      <strong>Username: </strong>{{vm.username}}
                    </a>

                </div>
            </form>
        </div>
    </ion-content>


    
</ion-view>
