
<ion-view view-title="Pre-Workout Survey">
   <!-- <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
            <div class="bar bar-header">
                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item'> Take Survey</i></span>
            </div>
            <br></br>
           
        </ion-content>
    </div>
-->
    <div>
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <span ng-click="vm.cancelCreate()" class="cancel-create">Clear</span>
               <!--an emergency back button <span ng-click="vm.back()" class="back">Back</span> 
               -->
            </div>
            
            <div>
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list has-header padding">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Date</span>
                            <input type="date" class="form-control"
                                ng-model="vm.newObject.date"
                                placeholder="Date">
                        </label>
                        
                        
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Body Weight</span>
                            <input type="number" class="form-control"
                                   ng-model="vm.newObject.bodyWeightIn"
                                   placeholder="Enter Weight (lbs.)">
                        </label>
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Hours Slept</span>
                            <select ng-model ="vm.newObject.hoursSleep">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </label>
                        
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Sleep Quality</span>
                            <select ng-model ="vm.newObject.sleepQuality">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </label>                        
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Stress Level</span>
                            <select ng-model ="vm.newObject.stressLevel">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </label>

                        <label class="item item-input item-select">
                            <span class="input-label">Muscle Soreness</span>
                            <select ng-model ="vm.newObject.muscleSoreness">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </label>
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Fatigue Level</span>
                            <select ng-model ="vm.newObject.fatigueLevelPre">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </label>
                    </div>
                    <br></br>
                    <button class="button button-block button-dark" type="submit">Submit</button>
                </form>
            </div>
        </ion-content>
    </div>

</ion-view>
