<!--
<ion-view view-title="Survey">
     <ion-content class="padding has-header">
        <div class="bar bar-header">
            <span><button class="button button-positive">Refresh</button></span>
            <span><i class='icon ion-plus-round new-item'> Add Item</i></span>
        </div>
        <div class="bar bar-subheader">
            <div class="list card">
                <div class="item item-icon-right item-icon-left">
                    <i class="ion-compose icon"></i>
                    <h2 class="text-center"></h2>
                    <i class="icon ion-close-round"></i>
                </div>
                <div class="item item-body">
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>
-->

<!--
<ion-header-bar class="bar-positive">
  <div class="buttons">
    <h1 class="title">Ionic List</h1>
  </div>
</ion-header-bar>
<ion-content class="padding has-header" = ng-controller="SurveyCtrl">
 <ion-list>
  <ion-item>
   Body Weight
  </ion-item>
  <ion-item>
   Hours of sleep
  </ion-item>
  <ion-item>
   Stress level
  </ion-item>
 </ion-list>
</ion-content>
-->

<!--
<ion-view view-title="Survey">
  <div class="buttons">
    <h1 class="title">Ionic List</h1>
  </div>
  
  <ion-content ng-controller="SurveyCtrl">

 <ion-list>
  <ion-item>
   Body Weight
  </ion-item>
  <ion-item>
   Hours of Sleep
  </ion-item>
  <ion-item>
   Stress level
  </ion-item>
 </ion-list>
</ion-content>
</ion-view>

-->



<ion-view view-title="Survey">
    <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
            <!-- LIST -->
            <div class="bar bar-header">
                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item'> Take Survey</i></span>
            </div>
            <div class="bar bar-subheader">
                        <div class="col">Date</div>
                        <div class="col">Body Weight</div>
                        <div class="col">Hours Slept</div>
                        <div class="col">Stress Level</div>
                        <div class="col">Minutes Played</div>
            </div>
            <div>
                <div class="list padding has-header card" ng-repeat="object in vm.data"
                     ng-class="{'active':vm.isCurrent(object.id)}">
                    <div class="row">
                        <div class="col">{{object.date}}</div>
                        <div class="col">{{object.bodyWeight}}</div>
                        <div class="col">{{object.hourSleep}}</div>
                        <div class="col">{{object.stressLevel}}</div>
                        <div class="col">{{object.minsPlayed}}</div>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isCreating">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            
            <div>
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list has-header padding">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Date</span>
                            <input type="date" class="form-control"
                                ng-model="vm.newObject.date"
                                placeholder="Date">
                        </label>
                        
                        
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Body Weight</span>
                            <input type="number" class="form-control"
                                   ng-model="vm.newObject.bodyWeight"
                                   placeholder="Enter Weight (lbs.)">
                        </label>
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Hours Slept</span>
                            <select ng-model ="vm.newObject.hoursSleep">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </label>
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Stress Level</span>
                            <select ng-model ="vm.newObject.stressLevel">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Minutes Played</span>
                            <input type="number" class="form-control"
                                  ng-model="vm.newObject.minsPlayed"
                                  placeholder="Mins in the last 48hrs">
                        </label>
                    </div>
                    <br></br>
                    <button class="button button-block button-dark" type="submit">Create</button>
                </form>
            </div>
        </ion-content>
    </div>
    
<!--
    <div ng-if="vm.isEditing && !vm.isCreating">
        <ion-content class="padding has-header">
            
            <div class="bar bar-header bar-secondary">
                <h1 class="title">Editing {{vm.edited.name}}</h1>
                <span ng-click="vm.cancelEditing()" class="cancel-create">Cancel</span>
            </div>
            <div class="bar bar-subheader">
                <form class="edit-form" role="form"
                      ng-submit="vm.update(vm.edited)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.name"
                                   placeholder="Enter name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                    <textarea class="form-control"
                              ng-model="vm.edited.description"
                              placeholder="Enter description"></textarea>

                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Save</button>
                </form>
            </div>
        </ion-content>
    </div>
-->

</ion-view>
