<ion-view view-title="Change Password">
    <ion-content class="padding has-header">
        <div>
            <form ng-submit="login.changePassword()">
                <div class="list has-header padding">

                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your old password" ng-model="login.oldPassword">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your new password" ng-model="login.newPassword">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your new password" ng-model="login.newPassword2">
                    </label>
                </div>
                <br></br>
                <div class="padding">
                    <button class="button button-block button-dark" type="submit">
                        Submit
                    </button>
                    
                </div>
            </form>
        </div>
    </ion-content>

    
    
    
    
</ion-view>