<ion-view view-title="Login">
    <ion-content class="padding has-header">
        <div class="bar bar-header">
            <span ng-click="login.signout()" class="cancel-create">sign out</span>
        </div>
        
        <div>
            <form ng-submit="login.signin()">
                <div class="list has-header padding">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Your email" ng-model="login.email">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your password" ng-model="login.password">
                    </label>
                    <label class="item item-input">
                        <input id="appName" name="appName" type="text" placeholder="App Name" ng-model="login.appName">
                    </label>
                </div>
                <br></br>

                <div class="padding">
                    <button class="button button-block button-positive" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </ion-content>

       <!-- <div ng-submit="vm.login()">
        <ion-content class="padding has-header">
            <!-- CREATING 
            <div class="bar bar-header">
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            
            <div>
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list has-header padding">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type="text" class="form-control"
                                ng-model="vm.newObject.email"
                                placeholder="Enter Email">
                        </label>
                        
                        
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Password</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.password"
                                   placeholder="Enter Password">
                        </label>
                        
                    </div>
                    <br></br>
                    <button class="button button-block button-dark" type="submit">Login</button>
                </form>
            </div>
        </ion-content>
    </div> 
    -->
    
    
    
    
    
</ion-view>
