<ion-view view-title="Workout Details">
  
  <ion-content>
    <ion-list>
      <div class="list">
        

        <div class="item item-divider">
          Pre Workout
        </div>
        <a class="item" href="#/tab/presurvey">
          Pre-survey
        </a>

        <div class="item item-divider">
          Warm-Up
        </div>

        <a class="item">
          Cat/Camel
        </a>

        <div class="item item-divider">
          Lift
        </div>
        <!--
        <div ng-controller="ExerCtrl as wo">
          <div ng-if="!wo.isCreating && !wo.isEditing">
            <ion-checkbox ng-repeat="exercise in wo.exercises" ng-checked="exersice.checked">
                  {{ exercise.name}}

            </ion-checkbox>
        </div>
        -->
        
          <div ng-controller="ExerciseCtrl as ec">
            <div ng-if="!ec.isCreating && !ec.isEditing">
              <!--<form ng-submit="submitForm(sport)">-->
                <ion-list>
                  <ion-item ng-repeat="exercise in ec.exercises | orderBy: 'name'"  ng-model="exercise.name" ng-click="submitExercise(exercise)">
                    {{ exercise.name }}
                  </ionitem> 
                </ion-list>
              <!--</form>  -->
            </div>
          </div>        

        <div class="item item-divider">
          Post Workout
        </div>
        <a class="item" href="#/tab/postsurvey">
          Post-survey
        </a>



        
      </div>
    </ion-list>
  </ion-content>
</ion-view>
