<ion-view view-title="Workout Details">
  
  <ion-content>
    <ion-list>
      <div class="list">
        

        <div class="item item-divider">
          Pre Workout
        </div>
        <a class="item" href="#/tab/presurvey">
          Pre-survey
        </a>

        <div class="item item-divider">
          Warm-Up
        </div>

        <a class="item">
          Cat/Camel
        </a>

        <div class="item item-divider">
          Lift
        </div>

        <a class="item">
          1a. DB Walking Lunge
        </a>

        <a class="item">
          1b. BB Front Squat
        </a>

        <a class="item">
          2a. BB Back Squat
        </a>

        <a class="item">
          2b. MB Scoop Toss for Height
        </a>

        <a class="item">
          3a. DB/KB Goblet Squat
        </a>

        <div class="item item-divider">
          Post Workout
        </div>
        <a class="item" href="#/tab/postsurvey">
          Post-survey
        </a>



        
      </div>
    </ion-list>
  </ion-content>
</ion-view>
