<ion-view view-title="References">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
       </button>
  </div>
  <div class="list card">

  <a href="#/tab/referenceslinks" class="item item-icon-left">
    <i class="icon ion-ios-infinite"></i>
    Lifting Modification
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-information"></i>
    Weight Room Warm Ups
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-paper"></i>
    Running Dynamic Warm Ups
  </a>

</div>



        <div class="item item-divider">
          Weight Room Warm Ups
        </div>

        <a class="item" href="http://www.xlathlete.com/view_exercise2.jsp?exercise_id=419" target="_system" class="positive">
          Cat/Camel
        </a>



        
      </div>
    </ion-list>
  </ion-content>
</ion-view>
