<ion-view view-title="References Links">
  <ion-content>
   <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
      </label>
    </div>
    <ion-list>
      <div class="list">

        <div class="item item-divider">
          Lifting Modification
        </div>
        <a class="item" href="http://www.xlathlete.com/view_exercise2.jsp?exercise_id=1239" target="_system" class="positive">
          DB Walking Lunge
        </a>

        <a class="item" href="http://www.xlathlete.com/view_exercise2.jsp?exercise_id=271" target="_system" class="positive">
          BB Front Squat
        </a>

        <a class="item" href="http://www.xlathlete.com/view_exercise2.jsp?exercise_id=1891" target="_system" class="positive">
          BB Back Squat
        </a>

        <a class="item" href="http://www.xlathlete.com/view_exercise2.jsp?exercise_id=1344" target="_system" class="positive">
          MB Scoop Toss for Height
        </a>

        <a class="item" href="http://www.xlathlete.com/view_exercise2.jsp?exercise_id=3767" target="_system" class="positive">
          DB/KB Goblet Squat
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
