
<ion-view view-title="Survey">
    <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
            <!-- LIST -->
            <div class="bar bar-header">
                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item'> Take Survey</i></span>
            </div>
            <br></br>
            <div class="bar bar-subheader">
                        <div class="col">Date</div>
                        <div class="col">Body Weight</div>
                        <div class="col">Hours Slept</div>
                        <div class="col">Stress Level</div>
                        <div class="col">Minutes Played</div>
            <div style="clear:both; height:300px"></div>
            </div>
            <div>
                <div class="list padding has-header card" ng-repeat="object in vm.data"
                     ng-class="{'active':vm.isCurrent(object.id)}">
                    <div class="row">
                        <div class="col">{{object.date}}</div>
                        <div class="col">{{object.bodyWeight}}</div>
                        <div class="col">{{object.hoursSleep}}</div>
                        <div class="col">{{object.stressLevel}}</div>
                        <div class="col">{{object.minsPlayed}}</div>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isCreating">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            
            <div>
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list has-header padding">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Date</span>
                            <input type="date" class="form-control"
                                ng-model="vm.newObject.date"
                                placeholder="Date">
                        </label>
                        
                        
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Body Weight</span>
                            <input type="number" class="form-control"
                                   ng-model="vm.newObject.bodyWeight"
                                   placeholder="Enter Weight (lbs.)">
                        </label>
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Hours Slept</span>
                            <select ng-model ="vm.newObject.hoursSleep">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </label>
                        
                        <label class="item item-input item-select">
                            <span class="input-label">Stress Level</span>
                            <select ng-model ="vm.newObject.stressLevel">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Minutes Played</span>
                            <input type="number" class="form-control"
                                  ng-model="vm.newObject.minsPlayed"
                                  placeholder="Mins in the last 48hrs">
                        </label>
                    </div>
                    <br></br>
                    <button class="button button-block button-dark" type="submit">Create</button>
                </form>
            </div>
        </ion-content>
    </div>

</ion-view>
